.img-thumbnail {
    margin: 15px auto;
    width: 80%;
    height: 80%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 15px 10px;
    background-color: #fff;
    border-top: none;
}