.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.navbar_link-item
{
    color: #fff;
}

.img-logo {
    max-height: 50px;
    margin-right: 5px;
    border: 2px solid #f7b925;
    display: inline;
}